<div class="container" style="background-color:lightblue">
  <h1 class="title is-4 is-info help">{{status}}</h1>
<form #nameForm="ngForm">
  <div class="field">
    <p> Registro de propietario</p>
    <label class="label">Nombre</label>
    <p class="control">
      <input [(ngModel)]="nombre"  class="input"  type="text" placeholder="Nombre"  name="nombre"  required  #nameChangeModel="ngModel">
    </p>
    

  
    <div *ngIf="nameChangeModel.errors && (nameChangeModel.dirty || nameChangeModel.touched)"
         class="help is-danger">
        <p [hidden]="!nameChangeModel.errors.required">
          This field is required
        </p>
    </div>
  </div>
  
  <div class="field is-grouped">
    <p class="control">
      <button    [disabled]="!nameForm.valid"   (click)="registrarPropietario()" class="button is-primary">  Registrar propietario </button>
    </p>
    
  </div>
</form>
</div>