<div class="container">
  <h2>Llenado de encuestas</h2>

  <div class="list-group">
    <a (click)="getForm()" class="list-group-item" >{{nombre}}</a>
  </div>
</div>
<div class="container">
<form [formGroup]="myForm" (submit)="onSubmit(myForm.value)">

<div class="form-group">
  <div formArrayName="preguntas">
  <div *ngFor="let item of array, let pointIndex=index" [formGroupName]="pointIndex">
    <input readonly formControlName="pregunta" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese la pregunta">   
    <select [(ngModel)]="seleccionado" (change)="registro(pointIndex)">
        <option *ngFor="let option of options" [value]="option.value">{{option.name}}</option>
    </select>
  </div>
  
</div>
</div>